body {
    background-color: lightcyan;
}

#primary-content {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

main {
    background-color: darkcyan;
}

aside {
    background-color: darkblue;
    color: white;
}

header, footer {
    background-color: lightblue;
}

main, aside, header, footer {
    padding: 2rem;
}

img {
    max-width: 100%;
}